<html>
    <body>
        <form method="post" action="/login">
            Name : <input type="text" name="name" /><br />
            Password : <input type="password" name="password"><br />
            <input type="submit" name="login" /> 
        </form>
    </body>
</html>